node_modules
dist
generated
.env
/generated/prisma

/src/modules/auth
/src/modules/booking
/src/modules/payment
# /src/modules/technician
/src/modules/admin
/src/middlewares
/src/lib
/src/errors
/src/utils
